/* basic variables set up */

/* colors */
$primary-background-color     : #0f1115;
$secondary-background-color: #19181f;
$accent-color         : #222128;

/* text color */
$text-color-white : #ffffff;
$text-color-grey : #57585b; 