@import 'utils/variables';
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Roboto:wght@100;300;400;500&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: 1.6rem;
    font-family: Roboto, sans-serif;
    background-color: $primary-background-color;
}

.btn {
    border: none;
    color: $text-color-white;
    cursor: pointer;

    &.primary {
        background-color: $primary-button-color;

        &:hover {
            background-color: darken($primary-button-color, 8%);
        }
    }

    &.secondary {
        background-color: $secondary-button-color;

        &:hover {
            background-color: darken($secondary-button-color, 8%);
        }
    }
}

.backdrop-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.poster {
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
}
